html{
    background-color:#CCC;
}
body {
    background-image:url(http://www.designbolts.com/wp-content/uploads/2013/02/Zebra-3D-Grey-Seamless-Pattern-For-Website-Background.jpg);
}

.content.container {
    width:100%;
	padding-top:60px;
	padding-bottom:20px;
}

#navbar {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}
footer .navbar {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}

footer .container p {
	padding: 10px 0 10px;
	color:white;
}

.pagination li a {
    background-color:rgba(0,0,0,0.1);
}

.frontClip {
    background-color:#EDEDED;
    -moz-box-shadow: 3px 3px 4px #aaa;
   	-webkit-box-shadow: 3px 3px 4px #aaa;
   	box-shadow: 3px 3px 4px #aaa;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
   	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
.frontClip .title {
    padding:5px;
    font-size:1em;
}


.frontClip .frontCover {
    max-width:300px;
    max-height:250px;
    min-width:200px;
    min-height:180px;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #ededed;
}

.container.content {
    max-width:1314px;
    min-width:780px;
    background-color:#ddd;
    border-left:2px solid #aaa;
    border-right:2px solid #aaa;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(21, 21, 21, .15);
	-moz-box-shadow: 0px 0px 15px 5px rgba(21, 21, 21, .15);
	box-shadow: 0px 5px 15px 5px rgba(21, 21, 21, .15);
	background-color:#fff;

}

.infoBar {
    padding:5px;
    clear:both;
    background-color:#D2DDEE;
}

.infoBar .badge {
	background-color: #595f6e;
	color: #d4d4d4;
}

.cellWrapper {
}
.cell {
    width:300px;
    height:250px;
    margin:10px;
    margin-bottom:20px;
    float:left;
}

.loginContainer {
    padding-top:10px;
    width:570px;
    margin: 0 auto;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#loginModal .input-group {
    margin:10px;
}

li.qWrapper .label {
    font-size:20px;
}

.nsfw {
	color:red;
	font-weight:bold;
	float:right;
}

.title {
	font-weight:bold;
	font-size:1.6em;
}

.panel-body {
    padding:10px;
}

.bpms {
    padding:15px;
}


.collapsable .panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.collapsable .panel-heading a.collapsed:after {
    content: "\e080";
}

.btn-up,.btn-down {
	/* background-image:url(/assets/images/thumbs.png); */
	height:60px;
	width:60px;
	cursor:pointer;
	display:block;
}

.btn-up {
	background-position:0px 320px;
    color:#d2d2d2;
}
.btn-up.selected {
	background-position:0px 240px;
    color:#fff;
}
.btn-down {
	background-position:0px 160px;
    color:#d2d2d2;
}
.btn-down.selected {
	background-position:0px 80px;
    color:#fff;
}

.score {
	font-size:60px;
	margin:0px;
	padding:0px;
    margin:0px auto;
}
.score.neutral {
	color:#222;
}


.positive {
	color:#f0ad4e;
}
.neutral {
	color: #fff;
}
.negative {
	color: #5bc0de;
}

.panel-heading.panel-primary a {
	color:#EFEFEF;
}

.comments-yes {
	color: #0dd83b;
}



/************* nav bar custom **********************/
.navbar-default {
	background-color: #25346d;
	border-color: #455ec0;
	background-image:none;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #bfc8ea;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #bfc8ea;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #bfc8ea;
	background-color: #455ec0;
	background-image: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #bfc8ea;
	background-color: #455ec0;
}
.navbar-default .navbar-toggle {
	border-color: #455ec0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #455ec0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #bfc8ea;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #bfc8ea;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #bfc8ea;
		background-color: #455ec0;
	}
}
/******************************************************/
/************** 3d Buttons ***************/
.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-top: 15px;
    top: 0;
}
.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}
.btn3d:active {
    top: 9px;
}
.btn3d.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-success {
    box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-info {
    box-shadow: 0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-danger {
    box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d:active.btn-default {
    box-shadow: none;
}
.btn3d:active.btn-primary {
    box-shadow: none;
}
.btn3d:active.btn-success {
    box-shadow: none;
}
.btn3d:active.btn-info {
    box-shadow: none;
}
.btn3d:active.btn-warning {
    box-shadow: none;
}
.btn3d:active.btn-danger {
    box-shadow: none;
}
.btn3d.selected {
    box-shadow: none;
    margin-top: 28px;
}
/**********************************/


.bpms {
    font-size:18px;
}

.buildImage {
    height:auto;
    max-width:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.fullscreen {
    position: fixed;
    background-size: contain;
    left: 0px;
    top: 0px;
    background-color: rgba(51,51,51,1);
    z-index: 1040;
    max-height: 100%;
    height: 100% !important;
    width: 100%;
}

.alert {
    color:black;
}

.ad {
    width:300px;
    height:250px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.col-centered{
    float: none;
    margin: 0 auto;
}